.svn
.htaccess
application/config/config.php
application/config/database.php
uploads/user/*
uploads/group/*
uploads/event/*
uploads/companylogo/*
uploads/challenge/*
uploads/group/*
application/logs/*
delete.sql
.DS_Store
uploads/event/*
application/config/config.php.default

application/config/database.php.default

htaccess

install.sql

application/config/config.php.default

application/config/database.php.default


nbproject/*

*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
